name: Main

on:
  push:
    branches:
      - main
      - feature/*
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    if: github.event_name == 'pull_request'

    steps:
      - name: Get code to get access to custom our actions
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/setup

      - name: Lint
        uses: ./.github/actions/lint

  test:
    name: Test

    runs-on: ubuntu-latest

    if: github.event_name == 'pull_request'

    strategy:
      matrix:
        node_version: [ 14, 16 ]

    steps:
      - name: Get code to get access to custom our actions
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node_version }}

      - name: Test
        uses: ./.github/actions/test

  release:
    name: Release

    runs-on: ubuntu-latest

    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Get code to get access to custom our actions
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/setup

      - name: Release
        uses: ./.github/actions/release
        with:
          base_branch: ${{ github.ref_name }}

  prerelease:
    name: Prerelease

    runs-on: ubuntu-latest

    if: github.event_name == 'pull_request' && startsWith(github.head_ref, 'feature/')

    needs: [ lint, test ]

    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Get code to get access to custom our actions
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/setup

      - name: Release
        uses: ./.github/actions/release
        with:
          release_as: prerelease
          preid: ${GITHUB_HEAD_REF##*/}
          base_branch: ${GITHUB_HEAD_REF}
