name: Release

on:
  push:
    branches:
      - main
      - release

jobs:
  release:
    runs-on: ubuntu-latest

    if: github.base_ref == 'release' && github.event.pull_request.merged == true

    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Get code to get access to custom our actions
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/setup

      - name: Release
        uses: ./.github/actions/release
        with:
          base_branch: ${{ github.base_ref }}

  prerelease:
    runs-on: ubuntu-latest

    if: github.base_ref == 'main' && github.event.pull_request.merged == true

    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Get code to get access to custom our actions
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/setup

      - name: Release
        uses: ./.github/actions/release
        with:
          release_as: prerelease
          preid: 'beta'
          base_branch: ${{ github.base_ref }}
