name: Publish Beta

on:
  push:
    branches:
      - feature/*

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{secrets.NPM_TOKEN}}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 'lts/*'
          scope: '@rbehei-sandbox'
          # This doesn't just set the registry url, but also sets
          # the right configuration in .npmrc that reads NPM token
          # from NPM_AUTH_TOKEN environment variable.
          # It actually creates a .npmrc in a temporary folder
          # and sets the NPM_CONFIG_USERCONFIG environment variable.
          registry-url: https://registry.npmjs.org
      - name: Check npm credentials
        run: npm whoami
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            # Use npx instead of yarn because yarn automagically sets NPM_* environment variables
            # like NPM_CONFIG_REGISTRY so npm publish ends up ignoring the .npmrc file
            # which is set up by `setup-node` action.
      - name: yarn install
        shell: bash
        run: yarn --frozen-lockfile --no-progress --non-interactive --prefer-offline
      - run: npx nx affected --target=version-beta --preid=${GITHUB_REF##*/} --all --push --baseBranch main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
